In [21]:
import pandas as pd

In [22]:
df=pd.read_csv('../raw_data/cities.csv')
df

,code_commune_INSEE,nom_commune_postal,code_postal,libelle_acheminement,ligne_5,latitude,longitude,code_commune,article,nom_commune,nom_commune_complet,code_departement,nom_departement,code_region,nom_region
0,1001,L ABERGEMENT CLEMENCIAT,1400,L ABERGEMENT CLEMENCIAT,NaN,46.153426,4.926114,1.0,L',Abergement-Clémenciat,L'Abergement-Clémenciat,1,Ain,84.0,Auvergne-Rhône-Alpes
1,1002,L ABERGEMENT DE VAREY,1640,L ABERGEMENT DE VAREY,NaN,46.009188,5.428017,2.0,L',Abergement-de-Varey,L'Abergement-de-Varey,1,Ain,84.0,Auvergne-Rhône-Alpes
2,1004,AMBERIEU EN BUGEY,1500,AMBERIEU EN BUGEY,NaN,45.960848,5.372926,4.0,NaN,Ambérieu-en-Bugey,Ambérieu-en-Bugey,1,Ain,84.0,Auvergne-Rhône-Alpes
3,1005,AMBERIEUX EN DOMBES,1330,AMBERIEUX EN DOMBES,NaN,45.996180,4.912273,5.0,NaN,Ambérieux-en-Dombes,Ambérieux-en-Dombes,1,Ain,84.0,Auvergne-Rhône-Alpes
4,1006,AMBLEON,1300,AMBLEON,NaN,45.749499,5.594320,6.0,NaN,Ambléon,Ambléon,1,Ain,84.0,Auvergne-Rhône-Alpes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39196,98831,VOH,98883,OUACO,VOH,NaN,NaN,831.0,NaN,Voh,Voh,98,NaN,NaN,NaN
39197,98832,YATE,98834,YATE,NaN,NaN,NaN,832.0,NaN,Yate,Yate,98,NaN,NaN,NaN
39198,98833,KOUAOUA,98818,KOUAOUA,NaN,NaN,NaN,833.0,NaN,Kouaoua,Kouaoua,98,NaN,NaN,NaN
39199,98901,ILE DE CLIPPERTON,98799,ILE DE CLIPPERTON,NaN,NaN,NaN,901.0,NaN,Ile de clipperton,Ile de clipperton,98,NaN,NaN,NaN
39200,99138,MONACO,98000,MONACO,NaN,NaN,NaN,138.0,NaN,Monaco,Monaco,99,NaN,NaN,NaN

In [23]:
df=df[['code_commune_INSEE','code_postal','latitude','longitude','nom_commune_complet','code_departement','nom_departement','code_region','nom_region']]

In [24]:
df[(df == 73550).any(axis=1)]

,code_commune_INSEE,code_postal,latitude,longitude,nom_commune_complet,code_departement,nom_departement,code_region,nom_region
31976,73015,73550,45.369715,6.587679,Les Allues,73,Savoie,84.0,Auvergne-Rhône-Alpes
31977,73015,73550,45.369715,6.587679,Les Allues,73,Savoie,84.0,Auvergne-Rhône-Alpes

In [25]:
df=df.drop_duplicates()

In [26]:
df[(df.isna()).any(axis=1)]

,code_commune_INSEE,code_postal,latitude,longitude,nom_commune_complet,code_departement,nom_departement,code_region,nom_region
38911,97501,97500,NaN,NaN,Miquelon langlade,97,NaN,NaN,NaN
38913,97502,97500,NaN,NaN,St pierre,97,NaN,NaN,NaN
38937,97701,97133,NaN,NaN,St barthelemy,97,NaN,NaN,NaN
38938,97801,97150,NaN,NaN,St martin,97,NaN,NaN,NaN
38939,98611,98610,NaN,NaN,Alo,98,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
39196,98831,98883,NaN,NaN,Voh,98,NaN,NaN,NaN
39197,98832,98834,NaN,NaN,Yate,98,NaN,NaN,NaN
39198,98833,98818,NaN,NaN,Kouaoua,98,NaN,NaN,NaN
39199,98901,98799,NaN,NaN,Ile de clipperton,98,NaN,NaN,NaN
39200,99138,98000,NaN,NaN,Monaco,99,NaN,NaN,NaN

In [27]:
df.dropna(subset=['nom_departement'],inplace=True)
df.reset_index(inplace=True)

In [28]:
pop=pd.read_excel('../raw_data/pop.xls')
pop

,CODGEO,Nb Pharmacies et parfumerie,Dynamique Entrepreneuriale,Dynamique Entrepreneuriale Service et Commerce,Synergie Médicale COMMUNE,Orientation Economique,Indice Fiscal Partiel,Score Fiscal,Indice Evasion Client,Score Evasion Client,...,Score Croissance Entrepreneuriale,Score VA Région,Score PIB,Environnement Démographique,Fidélité,SYN MEDICAL,Seg Cap Fiscale,Seg Dyn Entre,DYN SetC,CP
0,01001,0.0,57.0,23.0,114,Bassin Industriel,101.93878,59.04139,0.00000,0.00000,...,0.01585,32.42578,33.83811,Bassin Industriel en croissance démographique,Pop Sédentaire,Synergie Médicale,Fiscalité moyenne,Faible dynamique,Faible Dynamique Serv et Com,01
1,01002,0.0,45.0,4.0,143,Bassin Résidentiel,101.93878,59.04139,0.00000,0.00000,...,0.00173,32.42578,33.83811,Bassin Résidentiel en croissance démographique,Pop Sédentaire,Forte Synergie Médicale,Fiscalité moyenne,Faible dynamique,Faible Dynamique Serv et Com,01
2,01004,0.0,634.0,828.0,366,Bassin Résidentiel,101.93878,59.04139,248.45549,0.10621,...,0.38471,32.42578,33.83811,Bassin Résidentiel en croissance démographique,Pop Mobile,Forte Synergie Médicale,Fiscalité moyenne,Dynamique Economique,Bonne Dynamique Entreprise Serv et Com,01
3,01005,0.0,113.0,62.0,132,Bassin Urbain,101.93878,59.04139,248.45549,0.10621,...,0.02824,32.42578,33.83811,Bassin Urbain en croissance démographique,Pop Mobile,Forte Synergie Médicale,Fiscalité moyenne,Moyenne dynamique,Faible Dynamique Serv et Com,01
4,01006,0.0,42.0,1.0,121,Bassin Résidentiel,101.93878,59.04139,0.00000,0.00000,...,0.00000,32.42578,33.83811,Bassin Résidentiel en croissance démographique,Pop Sédentaire,Forte Synergie Médicale,Fiscalité moyenne,Faible dynamique,Faible Dynamique Serv et Com,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36672,97420,0.0,657.0,534.0,186,Bassin Urbain,100.21348,55.18519,124.22775,0.05311,...,0.43688,0.13201,0.00000,Bassin Urbain en croissance démographique,Pop Mobile,Forte Synergie Médicale,Fiscalité moyenne,Dynamique Economique,Bonne Dynamique Entreprise Serv et Com,974
36673,97421,0.0,228.0,212.0,91,Bassin Urbain,100.21348,55.18519,124.22775,0.05311,...,0.13083,0.13201,0.00000,Bassin Urbain en croissance démographique,Pop Mobile,Synergie Médicale,Fiscalité moyenne,Dynamique Economique,Bonne Dynamique Entreprise Serv et Com,974
36674,97422,0.0,2689.0,2586.0,837,Bassin Urbain,100.21348,55.18519,869.59423,0.37175,...,2.09129,0.13201,0.00000,Bassin Urbain en croissance démographique,Pop Mobile,Forte Synergie Médicale,Fiscalité moyenne,Dynamique Economique,Bonne Dynamique Entreprise Serv et Com,974
36675,97423,0.0,222.0,210.0,88,Bassin Urbain,100.21348,55.18519,124.22775,0.05311,...,0.10547,0.13201,0.00000,Bassin Urbain en croissance démographique,Pop Mobile,Faible Synergie Médicale,Fiscalité moyenne,Dynamique Economique,Bonne Dynamique Entreprise Serv et Com,974
36676,97424,0.0,163.0,239.0,84,Bassin Urbain,100.21348,55.18519,124.22775,0.05311,...,0.08098,0.13201,0.00000,Bassin Urbain en croissance démographique,Pop Mobile,Faible Synergie Médicale,Fiscalité moyenne,Dynamique Economique,Bonne Dynamique Entreprise Serv et Com,974

In [29]:
pop.rename(columns={'CODGEO':'code_commune_INSEE'},inplace=True)

In [30]:
pop=pop[['code_commune_INSEE','Population']]

In [31]:
pop

      code_commune_INSEE  Population
0                  01001         725
1                  01002         167
2                  01004       11432
3                  01005        1407
4                  01006          86
...                  ...         ...
36672              97420       18137
36673              97421        7400
36674              97422       60311
36675              97423        6597
36676              97424        6115

[36677 rows x 2 columns]

In [32]:
for x in range(len(df['code_commune_INSEE'])):
    if len(df['code_commune_INSEE'][x])<5:
        y='0'+str(df['code_commune_INSEE'][x])
        df['code_commune_INSEE'].iloc[x]=y

/tmp/ipykernel_12280/3099425176.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['code_commune_INSEE'].iloc[x]=y

In [33]:
df=df.merge(pop,on='code_commune_INSEE',how='left')
df

,index,code_commune_INSEE,code_postal,latitude,longitude,nom_commune_complet,code_departement,nom_departement,code_region,nom_region,Population
0,0,01001,1400,46.153426,4.926114,L'Abergement-Clémenciat,1,Ain,84.0,Auvergne-Rhône-Alpes,725.0
1,1,01002,1640,46.009188,5.428017,L'Abergement-de-Varey,1,Ain,84.0,Auvergne-Rhône-Alpes,167.0
2,2,01004,1500,45.960848,5.372926,Ambérieu-en-Bugey,1,Ain,84.0,Auvergne-Rhône-Alpes,11432.0
3,3,01005,1330,45.996180,4.912273,Ambérieux-en-Dombes,1,Ain,84.0,Auvergne-Rhône-Alpes,1407.0
4,4,01006,1300,45.749499,5.594320,Ambléon,1,Ain,84.0,Auvergne-Rhône-Alpes,86.0
...,...,...,...,...,...,...,...,...,...,...,...
36213,38931,97613,97650,-12.751310,45.087170,M'Tsangamouji,976,Mayotte,6.0,Mayotte,NaN
36214,38932,97614,97670,-12.837096,45.137910,Ouangani,976,Mayotte,6.0,Mayotte,NaN
36215,38934,97615,97615,-12.796135,45.284206,Pamandzi,976,Mayotte,6.0,Mayotte,NaN
36216,38935,97616,97640,-12.861165,45.118550,Sada,976,Mayotte,6.0,Mayotte,NaN
36217,38936,97617,97680,-12.782167,45.134428,Tsingoni,976,Mayotte,6.0,Mayotte,NaN

In [34]:
df[(df.isna()).any(axis=1)]

,index,code_commune_INSEE,code_postal,latitude,longitude,nom_commune_complet,code_departement,nom_departement,code_region,nom_region,Population
4506,4834,13201,13001,43.299901,5.382279,Marseille 01,13,Bouches-du-Rhône,93.0,Provence-Alpes-Côte d'Azur,NaN
4507,4835,13202,13002,43.312696,5.363650,Marseille 02,13,Bouches-du-Rhône,93.0,Provence-Alpes-Côte d'Azur,NaN
4508,4836,13203,13003,43.312120,5.380110,Marseille 03,13,Bouches-du-Rhône,93.0,Provence-Alpes-Côte d'Azur,NaN
4509,4837,13204,13004,43.306733,5.400875,Marseille 04,13,Bouches-du-Rhône,93.0,Provence-Alpes-Côte d'Azur,NaN
4510,4838,13205,13005,43.292806,5.397577,Marseille 05,13,Bouches-du-Rhône,93.0,Provence-Alpes-Côte d'Azur,NaN
...,...,...,...,...,...,...,...,...,...,...,...
36213,38931,97613,97650,-12.751310,45.087170,M'Tsangamouji,976,Mayotte,6.0,Mayotte,NaN
36214,38932,97614,97670,-12.837096,45.137910,Ouangani,976,Mayotte,6.0,Mayotte,NaN
36215,38934,97615,97615,-12.796135,45.284206,Pamandzi,976,Mayotte,6.0,Mayotte,NaN
36216,38935,97616,97640,-12.861165,45.118550,Sada,976,Mayotte,6.0,Mayotte,NaN
36217,38936,97617,97680,-12.782167,45.134428,Tsingoni,976,Mayotte,6.0,Mayotte,NaN

In [35]:
df[(df == 75001).any(axis=1)]

,index,code_commune_INSEE,code_postal,latitude,longitude,nom_commune_complet,code_departement,nom_departement,code_region,nom_region,Population
30327,32613,75101,75001,48.86263,2.336293,Paris 01,75,Paris,11.0,Île-de-France,NaN